.model-main {
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 0;
  opacity: 0;
  -webkit-overflow-scrolling: touch;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: auto;
  /* transition: opacity 0.15s linear, z-index 0.15;
  -webkit-transition: opacity 0.15s linear, z-index 0.15;
  -moz-transition: opacity 0.15s linear, z-index 0.15;
  -ms-transition: opacity 0.15s linear, z-index 0.15;
  -o-transition: opacity 0.15s linear, z-index 0.15; */
}

.model-open {
  z-index: 99999;
  opacity: 1;
  overflow: hidden;
  overflow: scroll;
}

.model-inner {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -moz-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  display: inline-block;
  vertical-align: middle;

  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out, -moz-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out, -moz-transform 0.3s ease-out, -o-transform 0.3s ease-out;
}

.popup-hint-small .model-inner {
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.model-wrap {
  display: block;
  width: 100%;
  position: relative;
  background-clip: padding-box;
  outline: 0;
  text-align: left;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
}

.pop-up-content {
  position: relative;
}

.model-open .model-inner {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  position: relative;
  z-index: 999;
}

.model-open .bg-overlay {
  background: var(--bgColor05_op);
  z-index: 99;
}

.bg-overlay {
  background: var(--bgColor06_op);
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  -moz-transition: background 0.15s linear;
  transition: background 0.15s linear;
}

.popup-hint-small.model-open .bg-overlay {
  background: var(--bgColor06_op);
  z-index: 99;
}

.head-top {
  position: relative;
  width: 100%;
  height: auto;
  background-color: var(--bgColor01);
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.title-name {
  position: relative;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.close-btn {
  position: absolute;
  right: 4.2vw;
  width: auto;
  cursor: pointer;
  z-index: 99;

  /* 0309改的 */
  top: 2.2vw;
  right: 3.2vw;
}

/* 登入 */
.popup-login .model-inner {
  width: 75vw;
  max-width: 75vw;
  margin: 2vw auto;
}

.close-btn span {
  color: var(--txtColor01);
}

.close-btn span {
  color: var(--txtColor01);

  /* 0309改的 */
  color: var(--txtColor02);
}

.popup-bank .head-top {
  width: 98vw;
  height: 13.2vw;
  margin: 1vw auto 0vw auto;
  background: var(--bgColor06);
}

.popup-bank .title-name {
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: var(--txtColor05);
  font-weight: 600;
  padding-left: 4.2vw;
}

.popup-bank .close-btn {
  top: 3.2vw;
}

.popup-bank .close-btn span {
  color: var(--txtColor05);
}

.titleP {
  text-align: center;
  font-size: 1.875rem;
  color: var(--txtColor34);
  font-weight: 400;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.titleS {
  font-size: 0.938rem;
  font-weight: 700;
  padding-bottom: 2vw;
  border-bottom: 1px solid var(--borderColor06)
}

.rolling-content .titleS,
.howdeposit-content .titleS {
  border-bottom: 1px solid var(--borderColor03);
}

.titleP span {
  font-size: 0.625rem;
  color: var(--txtColor02);
  font-weight: 300;
}

.input-area {
  margin: 4vw 0;
}

.login-content {
  background: var(--bgColor_Grad06-00);
  background: -webkit-linear-gradient(top, var(--bgColor_Grad06-00) 1%, var(--bgColor_Grad06-01) 100%);
  background: -moz-linear-gradient(top, var(--bgColor_Grad06-00) 1%, var(--bgColor_Grad06-01) 100%);
  background: -o-linear-gradient(top, var(--bgColor_Grad06-00) 1%, var(--bgColor_Grad06-01) 100%);
  background: linear-gradient(to bottom, var(--bgColor_Grad06-00) 1%, var(--bgColor_Grad06-01) 100%);
  padding: 8.6vw 8.8vw;
}

.login-content button.login-button {
  margin-bottom: 1vw;
  background: var(--btnColor06);
  color: var(--txtColor01);
}

.hint-small-content {
  width: 65vw;
  margin: 20vw auto;
  border-radius: 4px;
  background: var(--bgColor15_op);
  border: 1px solid var(--borderColor01);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 0px 2px 4px var(--bgColor12_op);
}

.hint-small-content .content {
  width: 65vw;
  padding: 4vw;
}

.hint-small-content .content span.icon-check {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 2vw auto 3vw auto;
  color: var(--txtColor01);
  background: var(--bgColor15);
  font-size: 1.6rem;
}

.hint-small-content .content span.icon-delet {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 2vw auto 3vw auto;
  color: var(--txtColor01);
  background: var(--bgColor22);
  font-size: 1.6rem;
}

.hint-small-content .content span.icon-alarm {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 2vw auto 3vw auto;
  background: var(--btnColor05);
  color: var(--txtColor01);
  font-size: 1.6rem;
}

.hint-small-content .content p {
  text-align: center;
  font-size: 0.81rem;
}

button.btnColor01 {
  color: var(--txtColor01);
  background: var(--btnColor01);
  font-weight: 600;
}

button.btnColor03 {
  color: var(--txtColor02);
  background: var(--btnColor03);
  font-weight: 600;
}

.input-area .list {
  margin: 1vw 0;
  font-size: 0.81rem;
  padding: 0vw 2vw;
  background: var(--bgColor01);
  border: 1px solid var(--borderColor05);
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.popup-signup .input-area .list {
  background: none;
}

.input-area .list span {
  color: var(--txtColor10);
}

.input-area .list .txt {
  width: 6vw;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.input-area .list input {
  width: 70vw;
  height: 9.5vw;
  padding: 2vw 0 2vw 2vw;
}

.input-list-forget {
  margin: 2vw 0 3vw 0;
}

.input-list-forget .styled-checkbox+label {
  font-size: 0.81rem;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.input-list-forget .styled-checkbox+label span {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.input-list-forget .styled-checkbox:checked+label:after {
  content: "";
  top: 2.2vw;
  left: 0.8vw;
}

.popup-signup .alarm {
  width: 80vw;
  padding-left: 8vw;
}

.btm-hint-txt {
  font-size: 0.72rem;
  margin-top: 4vw;
  color: var(--txtColor02);
  line-height: 1.8;
}

.btm-hint-txt span.icon-alarm {
  margin-right: 1vw;
}

.btm-hint-txt a.icon {
  color: var(--txtColor01);
  font-size: 0.81rem;
  background: var(--bgColor07);
  border: 1px solid var(--borderColor15);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  padding: 0vw 1vw;
  margin: 1vw 0vw;
  display: inline-block;
}

.head-top img {
  width: 60vw;
  margin-top: 10vw;
}

.go-customer-center {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0 auto;
  font-size: 0.81rem;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: var(--txtColor15);
  font-size: 0.65rem;
}

.go-customer-center span {
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0.93rem;
  margin-top: 1vw;
  border-bottom: 1px solid var(--borderColor19);
}

.go-customer-center span.icon-customer {
  color: var(--txtColor35);
}

.go-customer-center span.icon-customer:before {
  margin-right: 0.5vw;
  font-size: 1rem;
}

/* how to deposit */
.popup-howdeposit .model-inner {
  width: 98vw;
  max-width: 98vw;
  margin: 1vw auto;
}

.howdeposit-content {
  background: var(--bgColor_Grad10-00);
  background: -webkit-linear-gradient(top, var(--bgColor_Grad10-00) 1%, var(--bgColor_Grad10-01) 100%);
  background: -moz-linear-gradient(top, var(--bgColor_Grad10-00) 1%, var(--bgColor_Grad10-01) 100%);
  background: -o-linear-gradient(top, var(--bgColor_Grad10-00) 1%, var(--bgColor_Grad10-01) 100%);
  background: linear-gradient(to bottom, var(--bgColor_Grad10-00) 1%, var(--bgColor_Grad10-01) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--bgColor_Grad10-00)', endColorstr='var(--bgColor_Grad10-01)', GradientType=0);
  padding: 2.6vw 4.8vw 4vw 4.8vw;
}

ul.step {
  margin-top: 0vw;
  padding: 5vw 5vw 1vw 5vw;
  background: var(--bgColor01);
  box-shadow: 0px 3px 5px var(--bgColor14);
}

ul.step li {
  margin-bottom: 3vw;
  padding-bottom: 3vw;
  border-bottom: 1px solid var(--borderColor01);
}

ul.step li:last-child {
  border: 0px;
}

ul.step li div {
  color: var(--txtColor31);
  font-size: 1rem;
  margin-bottom: 0.5vw;
  font-weight: 600;
}

ul.step li p {
  color: var(--txtColor33);
  font-size: 0.91rem;
  line-height: 1.6;
}

.close-button {
  width: 93.2vw;
  padding: 3.4vw 2vw;
  background: var(--btnColor06);
  color: var(--txtColor01);
  border-radius: 0.5vw;
}

/* rolling */
.popup-rolling .model-inner {
  width: 98vw;
  max-width: 98vw;
  margin: 1vw auto;
}

.rolling-content {
  background: var(--bgColor_Grad10-00);
  background: -webkit-linear-gradient(top, var(--bgColor_Grad10-00) 1%, var(--bgColor_Grad10-01) 100%);
  background: -moz-linear-gradient(top, var(--bgColor_Grad10-00) 1%, var(--bgColor_Grad10-01) 100%);
  background: -o-linear-gradient(top, var(--bgColor_Grad10-00) 1%, var(--bgColor_Grad10-01) 100%);
  background: linear-gradient(to bottom, var(--bgColor_Grad10-00) 1%, var(--bgColor_Grad10-01) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--bgColor_Grad10-00)', endColorstr='var(--bgColor_Grad10-01)', GradientType=0);
  padding: 2.6vw 4.8vw 4vw 4.8vw;
}

.rolling-content .details-time {
  width: 88.4vw;
  margin: 2vw auto;
}

.rolling-content .details-time .time-box b {
  font-size: 0.93rem;
}

.rolling-content .main-content ul {
  border-top: 0px;
  border: 1px solid var(--borderColor07);
}

.rolling-content .main-content ul li {
  margin-bottom: 0;
}

.rolling-content .main-content ul li .main-panel,
.rolling-content .main-content ul li .head-panel {
  border-top: 0px;
}

.rolling-content .main-content ul li .main-panel span.noData {
  color: var(--txtColor02);
}

.rolling-content .main-content ul li .main-panel .item .list .info,
.rolling-content .main-content ul li .main-panel .item .list .info span {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.rolling-content .main-content ul li .main-panel .item .list .info span em {
  margin-right: 1vw;
}

.rolling-content .main-content ul li .main-panel .item .list .info:last-child {
  width: 80%;
}

em.failure {
  color: var(--txtColor16);
  font-weight: bold;
}

em.success {
  color: var(--txtColor17);
  font-weight: bold;
}

/* 忘記帳密 */
.popup-account-problem .model-inner {
  width: 98vw;
  max-width: 98vw;
  margin: 1vw auto;
}

.account-problem-content {
  background: var(--bgColor01);
  padding: 2.6vw 4.8vw 8vw 4.8vw;
}

.account-problem-content .titleP {
  font-size: 1.6rem;
}

.account-problem-content .input-area .list {
  border: 0px;
}

.account-problem-content .input-list .list .txt {
  width: 15vw;
}

.account-problem-content .input-area .list .input input {
  width: 72vw;
  border: 1px solid var(--borderColor05);
  border-radius: 0.5vw;
  -webkit-border-radius: 0.5vw;
  -moz-border-radius: 0.5vw;
  -ms-border-radius: 0.5vw;
  -o-border-radius: 0.5vw;
  margin: 0.5vw auto;
}

.account-problem-content .input-area .list textarea {
  padding: 2vw;
  width: 93.2vw;
  line-height: 1.6;
  border: 1px solid var(--borderColor05);
  border-radius: 0.5vw;
  -webkit-border-radius: 0.5vw;
  -moz-border-radius: 0.5vw;
  -ms-border-radius: 0.5vw;
  -o-border-radius: 0.5vw;
  margin-top: 0.5vw;
}

.account-problem-content .bgbtn-box {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 4vw;
  padding: 0 2vw;
}

.account-problem-content .bgbtn-box button {
  width: 41.6vw;
}

.account-problem-content .bgbtn-box button.send-button {
  background: var(--btnColor06);
  color: var(--txtColor01);
}

.account-problem-content .bgbtn-box button.cancel-button {
  color: var(--txtColor02);
  background: var(--btnColor03);
}

/* 註冊 */

.popup-signup .model-inner {
  width: 98vw;
  max-width: 98vw;
  margin: 1vw auto;
}

.signup-content {
  background: var(--bgColor_Grad06-00);
  background: -webkit-linear-gradient(top, var(--bgColor_Grad06-00) 1%, var(--bgColor_Grad06-01) 100%);
  background: -moz-linear-gradient(top, var(--bgColor_Grad06-00) 1%, var(--bgColor_Grad06-01) 100%);
  background: -o-linear-gradient(top, var(--bgColor_Grad06-00) 1%, var(--bgColor_Grad06-01) 100%);
  background: linear-gradient(to bottom, var(--bgColor_Grad06-00) 1%, var(--bgColor_Grad06-01) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--bgColor_Grad06-00)', endColorstr='var(--bgColor_Grad06-01)', GradientType=0);
  padding: 2.6vw 4.8vw 8vw 4.8vw;
}

.signup-content .list {
  border: none;
}

.signup-content .list input {
  padding: 2vw;
  border: 1px solid var(--borderColor05);
}

.signup-content .list input:focus {
  border: 1px solid var(--borderColor07);
}

.signup-content .list .input {
  width: 80vw;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.input-area .list .input input {
  width: 56.5vw;
}

.input-area .full-list input {
  width: 80vw;
}

.signup-content .list button {
  width: 21.5vw;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: var(--btnColor04);
  color: var(--txtColor01);
  height: 9.5vw;
  padding: 1vw;
  font-weight: 600;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}

.signup-content .list select {
  padding: 2vw;
  width: 80vw;
  border: 1px solid var(--borderColor05);
  background-position: 72vw;
  color: var(--txtColor05);
}

.signup-content .list select::-moz-selection {
  color: var(--txtColor05);
}

.signup-content .list select::selection {
  color: var(--txtColor05);
}

.signup-content .bgbtn-box {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 4vw;
}

.signup-content .bgbtn-box button {
  width: 43.6vw;
}

.signup-content button.signup-button {
  background: var(--btnColor06);
  color: var(--txtColor01);
}

.bank-content {
  width: 98vw;
  height: -webkit-calc(100vh - 18vw);
  height: -moz-calc(100vh - 18vw);
  height: calc(100vh - 18vw);
  background: var(--bgColor01);
  margin: 0 auto;
}

.bank-content ul {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: Wrap;
  -ms-flex-wrap: Wrap;
  flex-wrap: Wrap;
  background: var(--bgColor01);
}

.bank-content ul li,
.bank-content ul li a {
  width: 49vw;
}

.bank-content ul li a {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-right: 1px solid var(--borderColor09);
  border-bottom: 1px solid var(--borderColor09);
  color: var(--txtColor29);
  padding: 2.8vw 4.2vw;
  font-size: 0.93rem;
}

.bank-content ul li:nth-child(2n) a {
  border-right: 0px;
}

.bank-content ul li a img {
  width: 6vw;
  margin-right: 2vw;
}

.pop-up-content button.signupnow-button,
.pop-up-content button.cancel-button {
  color: var(--txtColor02);
  background: var(--btnColor03);
}

/* iPad iPadPro */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .titleP {
    font-size: 3rem;
  }

  .titleP span {
    font-size: 1.2rem;
  }

  .hint-small-content .content p,
  ul.step li div,
  .titleS,
  .close-btn,
  .signup-content .list select,
  .signup-content .list button,
  .bgbtn-box button,
  .input-area .list .txt,
  .input-area .list input,
  .go-customer-center span.icon-customer:before,
  .rolling-content .details-time .time-box b,
  .close-button,
  .input-area .list textarea {
    font-size: 1.6rem;
  }

  .popup-bank .title-name {
    font-size: 1.8rem;
  }

  .go-customer-center,
  .go-customer-center span,
  ul.step li p,
  .input-list-forget .styled-checkbox+label,
  .bank-content ul li a {
    font-size: 1.4rem;
  }

  .hint-small-content .content span.icon-check,
  .hint-small-content .content span.icon-delet,
  .hint-small-content .content span.icon-alarm {
    font-size: 2.8rem;
  }

}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .titleP {
    font-size: 3.6rem;
  }

  .titleP span {
    font-size: 1.4rem;
  }

  .hint-small-content .content p,
  ul.step li div,
  .titleS,
  .close-btn,
  .signup-content .list select,
  .signup-content .list button,
  .bgbtn-box button,
  .input-area .list .txt,
  .input-area .list input,
  .go-customer-center span,
  .go-customer-center span.icon-customer:before,
  .rolling-content .details-time .time-box b,
  .close-button,
  .input-area .list textarea {
    font-size: 2rem;
  }

  .popup-bank .title-name {
    font-size: 2.2rem;
  }

  .go-customer-center,
  ul.step li p,
  .input-list-forget .styled-checkbox+label,
  .bank-content ul li a {
    font-size: 1.8rem;
  }

  .hint-small-content .content span.icon-check,
  .hint-small-content .content span.icon-delet,
  .hint-small-content .content span.icon-alarm {
    font-size: 3.6rem;
  }
}

/* iPhone SE */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) {
  .popup-login .model-inner {
    width: 88vw;
    max-width: 88vw;
  }

  .login-content {
    padding: 4.6vw 8.8vw 8.6vw 8.8vw;
  }

  .head-top img {
    width: 60vw;
    margin-top: 10vw;
  }
}