@@if (name === "balanceH") {  
  @@for( var i = 0;i < 5;i++){
    <tr class="mailUse able">
      <td class="ac checkUse01">
        <div class="checkFrame">
          <div class="input_group rem_check">
            <input type="checkbox" id="rem_check">
            <label for="rem_check" class="rem_check"></label>
          </div>
        </div>
      </td>
      <td class="ac">
        2021/08/09 10:33:45
      </td>
      <td class="ac">706778</td>
      <td class="ac">DG payoff</td>
      <td class="ac">20,000</td>
      <td class="ac">140,238</td>
      <td class="ac">TEST</td>
      <td class="ac">
        <div class="frame01"><span class="icon-icconMailDelete godeleteMail"></span></div>
      </td>
    </tr>
  }
}

@@if (name === "betH") {
  @@for( var i = 0;i < 5;i++){
    <tr class="mailUse able">
      <td class="ac checkUse01">
        <div class="checkFrame">
          <div class="input_group rem_check">
            <input type="checkbox" id="rem_check">
            <label for="rem_check" class="rem_check"></label>
          </div>
        </div>
      </td>
      <td class="ac">
        0123456789
      </td>
      <td class="ac">
        2021/08/09 10:33:45
      </td>
      <td class="ac">D123456789</td>
      <td class="ac">EV</td>
      <td class="ac">스피드 바카라</td>
      <td class="ac">5,000</td>
      <td class="ac"><span class="win">Win</span></td>
      <td class="ac">XXXX</td>
      <!--GameResult_start-->
      <td class="ac"><a class="goResult">게임결과</a>
        <div class="resultCube">
          <h6 class="XX"><span class="icon-iconCross"></span></h6>
          <div class="content">
            <!--贏家請加won-->
            <div class="leftZone won">
              <div class="txt">PLAYER WON</div>
              <div class="cards">
                <div class="card card01 redCard">
                  <div class="noUp">10</div>
                  <span class="icon-icconPOKER02"></span>
                  <div class="noDown">10</div>
                </div>
                <div class="card card02 blackCard">
                  <div class="noUp">9</div>
                  <span class="icon-icconPOKER01"></span>
                  <div class="noDown">9</div>
                </div>
                <div class="card card02 blackCard">
                  <div class="noUp">9</div>
                  <span class="icon-icconPOKER01"></span>
                  <div class="noDown">9</div>
                </div>
                <div class="win"></div>
              </div>
            </div>
            <!--贏家請加won-->
            <div class="leftZone">
              <div class="txt">PLAYER WON</div>
              <div class="cards">
                <div class="card card01 blackCard">
                  <div class="noUp">5</div>
                  <span class="icon-icconPOKER04"></span>
                  <div class="noDown">5</div>
                </div>
                <div class="card card02 redCard">
                  <div class="noUp">8</div>
                  <span class="icon-icconPOKER03"></span>
                  <div class="noDown">8</div>
                </div>
                <div class="card card02 redCard">
                  <div class="noUp">8</div>
                  <span class="icon-icconPOKER03"></span>
                  <div class="noDown">8</div>
                </div>
                <div class="win"></div>
              </div>
            </div>
          </div>
          <div class="infoFrame">
            <ul>
              <li>AB Real</li>
              <li>Spped Baccarat</li>
              <li>Vip 01</li>
              <li>R 180</li>
            </ul>
          </div>
        </div>
      </td>
      <!--GameResult_end-->
      <td class="ac">
        <div class="frame01"><span class="icon-icconMailDelete godeleteMail"></span></div>
      </td>
    </tr>
  }
  <tr>
    <td class="ac"></td>
    <td class="ac"></td>
    <td class="ac"></td>
    <td class="ac"></td>
    <td class="ac"></td>
    <td class="ac"></td>
    <td class="ac">
      <h4>총 배팅금액</h4><br>
      5,000
    </td>
    <td class="ac"></td>
    <td class="ac">
      <h4>총 윈루즈</h4><br>
      5,000
    </td>
    <td class="ac"></td>
    <td class="ac">
    </td>
  </tr>
}