<div class="tabZone">
  <ul>
    <li class="active">
      <span class="icon-icconALLnew"></span>
      <h4>모든 게임</h4>
    </li>
    <li>
      <span class="icon-iiconDice"></span>
      <h4>카지노</h4>
    </li>
    <li class="">
      <span class="icon-iiconSlote"></span>
      <h4>슬롯머신</h4>
    </li>
    <li class="">
      <span class="icon-iiconGame"></span>
      <h4>미니게임</h4>
    </li>
    <li class="">
      <span class="icon-iiconPoker"></span>
      <h4>IDN포커</h4>
    </li>
    <li class="">
      <span class="icon-icconVR"></span>
      <h4>가상게임</h4>
    </li>
  </ul>
</div>