<div class="LeftContent">
  <div class="logo"><a href="index_success.html"></a></div>
  <div class="scrollFrame">
    <!--menu-->
    <div class="leftMenu">
      <ul>
        <li class="menu01">
          <a href="liveCasino.html">
            <span class="icon-iiconDice"></span>
            <div class="hovePic"><img src="../Content/Views/Shared/images/common/menu01_h.png"></div>
            <div class="txt">카지노</div>
          </a>
        </li>
        <li class="menu02">
          <a href="slotGame.html">
            <span class="icon-iiconSlote"></span>
            <div class="hovePic"><img src="../Content/Views/Shared/images/common/menu02_h.png"></div>
            <div class="txt">슬롯게임</div>
          </a>
        </li>
        <li class="menu03">
          <a href="miniGame.html">
            <span class="icon-iiconGame"></span>
            <div class="hovePic"><img src="../Content/Views/Shared/images/common/menu03_h.png"></div>
            <div class="txt">미니 게임</div>
          </a>
        </li>
        <li class="menu04">
          <a href="idnPoker.html">
            <span class="icon-iiconPoker"></span>
            <div class="hovePic"><img src="../Content/Views/Shared/images/common/menu04_h.png"></div>
            <div class="txt">IDN 포커</div>
          </a>
        </li>
        <li class="menu05">
          <a href="virtualLobby.html">
            <span class="icon-icconVR"></span>
            <div class="hovePic"><img src="../Content/Views/Shared/images/common/menu05_h.png"></div>
            <div class="txt">이벤트</div>
          </a>
        </li>
        <li class="menu06">
          <a href="promotion.html">
            <span class="icon-iiconSpeaker"></span>
            <div class="hovePic"><img src="../Content/Views/Shared/images/common/menu06_h.png"></div>
            <div class="txt">이벤트</div>
          </a>
        </li>
      </ul>
    </div>
    <div class="leftMenu leftMenu01">
      <ul>
        <li>
          <a href="notice.html">
            <span class="icon-iiconRing"></span>
            <div class="txt">공지사항</div>
          </a>
        </li>
        <li>
          <a href="couponBox.html">
            <span class="icon-icconBonus"></span>
            <div class="txt">쿠폰 박스</div>
          </a>
        </li>
        <li>
          <a href="recommend.html">
            <span class="icon-iiconGood"></span>
            <div class="txt">추천인</div>
          </a>
        </li>
        <li>
          <a href="siteMail.html">
            <span class="icon-iiconMail"></span>
            <div class="txt">쪽지 (<span>5</span>)</div>
          </a>
        </li>
        <li>
          <a href="my.html">
            <span class="icon-iiconMember"></span>
            <div class="txt">마이페이지</div>
          </a>
        </li>
        <li>
          <a href="deposit.html">
            <span class="icon-iiconDeposit"></span>
            <div class="txt">입금하기</div>
          </a>
        </li>
        <li>
          <a href="withdraw.html">
            <span class="icon-iiconWithdraw"></span>
            <div class="txt">출금하기</div>
          </a>
        </li>
        <li>
          <a href="bHistory.html">
            <span class="icon-iiconListA"></span>
            <div class="txt">배팅내역</div>
          </a>
        </li>
        <li>
          <a href="balanceH.html" class="active">
            <span class="icon-iiconListB"></span>
            <div class="txt">거래 기록</div>
          </a>
        </li>
        <li>
          <a href="service.html">
            <span class="icon-iiconService"></span>
            <div class="txt">고객센터</div>
          </a>
        </li>
      </ul>
    </div>
    <div class="fundZoneA">
      <div class="tabZone">
        <ul>
          <li class="active">실시간 출금현황</li>
          <li>주간출금랭킹</li>
        </ul>
      </div>
      <div class="contentZone">
        <ul>
          <li class="listZone">
            <table>
              <tr>
                <td class="al">[ 17:46:11] ****ig</td>
                <td class="ar"><span>400,000원</span></td>
              </tr>
              <tr>
                <td class="al">[ 17:45:21] ****43</td>
                <td class="ar"><span>17,000,000원</span></td>
              </tr>
              <tr>
                <td class="al">[ 17:45:17] ****42</td>
                <td class="ar"><span>300,000원</span></td>
              </tr>
              <tr>
                <td class="al">[ 17:44:49] ****55</td>
                <td class="ar"><span>4,880,000원</span></td>
              </tr>
            </table>
          </li>
          <li class="listZone">
            <table>
              <tr>
                <td class="al">[ 12:55:11] ****ig</td>
                <td class="ar"><span>68,888원</span></td>
              </tr>
              <tr>
                <td class="al">[ 16:45:21] ****43</td>
                <td class="ar"><span>17,000,000원</span></td>
              </tr>
              <tr>
                <td class="al">[ 15:45:17] ****88</td>
                <td class="ar"><span>30,000원</span></td>
              </tr>
              <tr>
                <td class="al">[ 17:44:49] ****55</td>
                <td class="ar"><span>880,000원</span></td>
              </tr>
            </table>
          </li>
        </ul>
      </div>
    </div>
    <div class="serviceZone">
    </div>
  </div>
</div>