<div class="firstFrame">
  @@if (type === true) {
    @@include('./components_content_typeselector.html')
  }
  <div class="searchZone">
    <div class="inputZone">
      <div class="input_content">
        <input type="text" placeholder="2020-03-20 00:00:00">
      </div><span>~</span>
      <div class="input_content">
        <input type="text" placeholder="2020-03-20 00:00:00">
      </div>
    </div>
    <div class="moneyBtns">
      <div class="btnM">오늘</div>
      <div class="btnM">1주일</div>
      <div class="btnM">2주일</div>
      <div class="btnM">1개월</div>
      <div class="btnM">3개월</div>
      <div class="btnM search">검색</div>
    </div>
  </div>
</div>