<!--footer-->
<div class="footer footer_notice">
  <div class="footerWrapper">
    <div class="topZone">
      <div class="leftZone">
        <div class="logos">
          <img src="../Content/Views/Shared/images/common/logo.svg">
        </div>
        <div class="txt">COPYRIGHT 2020, KCASINO. ALL RIGHTS RESERVED. GAMBLING CAN BE ADDICTIVE, PLEASE
          PLAY
          RESPONSIBLY.
          FOR MORE INFORMATION ON SUPPORT TOOLS, PLEASE VISIT OUR RESPONSIBLE GAMBLING PAGE<br>PAYMENT
          SUPPORTED
          BY</div>
        <div class="chatZone partner">
          <div class="partner01"><img src="../Content/Views/Shared/images/common/01visa.svg">
            <img src="../Content/Views/Shared/images/common/02master.svg"><img
              src="../Content/Views/Shared/images/common/03bitcoin.svg">
            <img src="../Content/Views/Shared/images/common/04skrill.svg"><img
              src="../Content/Views/Shared/images/common/05NETELLER.svg"></div>
        </div>
      </div>
      <div class="footRframe">
        <div class="centerZone">
          <div class="title">KCASINO <span>HELP</span></div>
          <div class="content">
            <ul>
              <li class="iconANI"><a><span class="icon-icconService01"></span>
                  <div class="txt">고객 서비스</div>
                </a></li>
              <li class="iconANI"><a><span class="icon-icconAPP"></span>
                  <div class="txt">앱 다운로드</div>
                </a></li>
              <li class="iconANI"><a><span class="icon-icconCooperation"></span>
                  <div class="txt">파트너모집</div>
                </a></li>
            </ul>
          </div>
        </div>
        <div class="rightZone01">
          <div class="links">
            <div class="title">LIVE CASINO</div>
            <div class="content">
              <div class="left01">
                <a>EVOLUTION</a>
                <a>AG ASIA GAMING</a>
                <a>MG MICRO GAMING</a>
                <a>WM CASINO</a>
                <a>OG ORIENTAL GAME</a>
                <a>AB ALL BET</a>
                <a>GPI</a>
                <a>IBO HOTEL CASINO</a>
              </div>
              <!--<div class="right01">
             <a>AG GAME</a>
             <a>MG GAME</a>
             <a>EV GAME</a>
             <a>DG GAME</a>
           </div>-->
            </div>
          </div>
          <div class="links">
            <div class="title">SLOT GAME</div>
            <div class="content">
              <div class="left01">
                <a>MG MICRO GAMING</a>
                <a>AG ASIA GAMING</a>
                <a>HABANERO</a>
                <a>PRAGMATIC PLAY</a>
                <a>PLAY'N GO</a>
                <a>AMEBA</a>
              </div>
              <!--<div class="right01">
             <a>MG SLOT</a>
             <a>PG SLOT</a>
             <a>HB SLOT</a>
           </div>-->
            </div>
          </div>
          <div class="links">
            <div class="title">SITEMAP</div>
            <div class="content">
              <div class="left01">
                <a>라이브카지노</a>
                <a>슬롯머신</a>
                <a>미니게임</a>
                <a>IDN 포커</a>
                <a>가상 스포츠</a>
              </div>
              <!--<div class="right01">
             <a>캐러비안스터드포커</a>
             <a>BULLFIGHT</a>
             <a>트리플페이스카드</a>
             <a>마종</a>
             <a>바카라보험</a>
           </div>-->
            </div>
          </div>
          <div class="links">
            <div class="title">LANGUAGE</div>
            <div class="content">
              <div class="left01">
                <a>ENGLISH</a>
                <a>한국어</a>
                <a>简体中文</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="downZone">
      <section class="thirdLogo slider">
        <div>
          <img src="../Content/Views/Shared/images/common/footerLogo/01.png">
        </div>
        <div>
          <img src="../Content/Views/Shared/images/common/footerLogo/02.png">
        </div>
        <div>
          <img src="../Content/Views/Shared/images/common/footerLogo/03.png">
        </div>
        <div>
          <img src="../Content/Views/Shared/images/common/footerLogo/04.png">
        </div>
        <div>
          <img src="../Content/Views/Shared/images/common/footerLogo/05.png">
        </div>
        <div>
          <img src="../Content/Views/Shared/images/common/footerLogo/06.png">
        </div>
        <div>
          <img src="../Content/Views/Shared/images/common/footerLogo/07.png">
        </div>
        <div>
          <img src="../Content/Views/Shared/images/common/footerLogo/08.png">
        </div>
        <div>
          <img src="../Content/Views/Shared/images/common/footerLogo/09.png">
        </div>
        <div>
          <img src="../Content/Views/Shared/images/common/footerLogo/10.png">
        </div>
        <div>
          <img src="../Content/Views/Shared/images/common/footerLogo/11.png">
        </div>
        <div>
          <img src="../Content/Views/Shared/images/common/footerLogo/12.png">
        </div>
        <div>
          <img src="../Content/Views/Shared/images/common/footerLogo/13.png">
        </div>
        <div>
          <img src="../Content/Views/Shared/images/common/footerLogo/14.png">
        </div>
      </section>
    </div>
  </div>
</div>