<div class="header">
  <div class="headerWrapper">
    <!--notice_首頁跑馬燈區塊_start-->
    <div class="home_notice">
      <div class="notice_wrap">
        <div class="noticeIcon"><img src="../Content/Views/Shared/images/common/megaPhone.svg"></div>
        <div class="notice_text">
          <marquee scrollamount="14">
            공지사항 : 흐르 공지사항 영역입니다. 흐르는 공지사항 영역입니다. 흐르는 공지사항 영역입니다. 흐르는 공지사항 영역입니다. 흐르는 공지사항 영역입니다. 흐르는 공지사항
            영역입니다. 흐르는
            공지사항 영역입니다. 흐르는 공지사항 영역입니다.
          </marquee>
        </div>
      </div>
    </div>
    <!--notice_首頁跑馬燈區塊_end-->
    <div class="rightZone">
      <a class="btnN redB loginIcon"><span class="icon-icconlogin"></span>로그인</a>
      <a class="btnN blueB signupIcon"><span class="icon-icconReg"></span>회원가입</a>
    </div>
  </div>
</div>