<!--登錄popup_start-->
<div class="NAV_log">
  <div class="pupop_content fadeIn animated">
    @@include('./components_popup_login.html')
  </div>
</div>
<!--登錄popup_end-->
<!--注冊popup_start-->
<div class="NAV_reg">
  <div class="pupop_content pupop_registered fadeIn animated">
    @@include('./components_popup_register.html')
  </div>
</div>
<!--注冊popup_end-->
<!--注冊_銀行popup_start-->
<div class="NAV_bank">
  <div class="pupop_content pupop_registered fadeIn animated">
    <h5 class="XX"><span class="icon-iconCross"></span></h5>
    <div class="reg">
      <div class="title">
        <h2>입금은행 선택</h2>
      </div>
      <!--
     <div class="tabZone">
       <ul>
         <li class="active">
           <h4>시중은행</h4>
         </li>
         <li class="">
           <h4>증권사은행</h4>
         </li>
       </ul>
     </div>-->
      <div class="up">
        <div class="btns">
          <ul>
            <li class="idnFrame bank01 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>카카오뱅크</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank02 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>농협은행</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank03 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>국민은행</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank04 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>신한은행</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank05 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>기업은행</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank06 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>우리은행</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank07 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>케이뱅크</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank08 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>새마을금고</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank09 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>하나은행</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank10 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>부산은행</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank11 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>대구은행</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank12 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>우체국</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank13 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>신협</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank14 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>SC제일은행</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank15 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>경남은행</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank16 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>광주은행</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank17 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>수협</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank19 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>전북은행</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank20 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>제주은행</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank21 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>산업은행</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank22 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>HSBC</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank23 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>한국씨티은행</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank24 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>BOA</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank25 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>도이치은행</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank26 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>제이피모건체이스은행</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank27 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>산림조합중앙회</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank28 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>비엔피파리라은행</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank29 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>중국공상은행</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank30 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>중국은행</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank31 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>중국건설은행</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
            <li class="idnFrame bank18 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>저축은행</span>
              </div>
              <div class="mask">
                <div class="inner"></div>
              </div>
            </li>
          </ul>
        </div>
        <div class="btnFrame">
          <a class="btnB">확인</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--注冊_銀行popup_end-->
<!--注冊_供應商popup_start-->
<div class="NAV_carrier">
  <div class="pupop_content pupop_registered fadeIn animated">
    <h5 class="XX"><span class="icon-iconCross"></span></h5>
    <div class="reg">
      <div class="title">
        <h2>통신사 선택</h2>
      </div>
      <!--
     <div class="tabZone">
       <ul>
         <li class="active">
           <h4>시중은행</h4>
         </li>
         <li class="">
           <h4>증권사은행</h4>
         </li>
       </ul>
     </div>-->
      <div class="up">
        <div class="btns">
          <ul>
            <li class="idnFrame carrier01 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>SK telecom</span>
              </div>
            </li>
            <li class="idnFrame carrier02 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>KT</span>
              </div>
            </li>
            <li class="idnFrame carrier03 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>LG U+</span>
              </div>
            </li>
            <li class="idnFrame carrier04 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>SK telecom 알뜰폰</span>
              </div>
            </li>
            <li class="idnFrame carrier05 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>KT 알뜰폰</span>
              </div>
            </li>
            <li class="idnFrame carrier06 fadeInUp animated">
              <div class="logo logoA aniLogo03"></div>
              <div class="txt01">
                <span>LG U+ 알뜰폰</span>
              </div>
            </li>
          </ul>
        </div>
        <div class="btnFrame">
          <a class="btnB">확인</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--注冊_供應商popup_end-->
<!--存錢明細_popup_start-->
<div class="NAV_dep01">
  <div class="pupop_content pupop_registered fadeIn animated">
    <h5 class="XX"><span class="icon-iconCross"></span></h5>
    <div class="reg">
      <div class="title">
        <h2>예금 계좌 적용</h2>
      </div>
      <div class="up">
        <div class="txt">
          안녕하세요.<br>
          [Customer's NAME] 님의 입금 계좌번호는<br>
          은행명 : <span class="gtxt">[BANK's NAME]</span><br>
          예금주 : <span class="gtxt">[OWNER's NAME]</span><br>
          계좌번호 : <span class="gtxt">[OWNER's ACCOUNT]</span><br>
          <span class="rtxt">※ 1,000원 단위는 충전신청</span>및<span class="rtxt">확인이 불가능</span>합니다 ※<br>
          <span class="rtxt">※ 만원단위</span>로<span class="rtxt">입금 및 충전신청</span>을 해주시기 바랍니다 ※<br>
          보내시는 분 성함과 회원님 성함이 일치해야 입금이 인정되오니 주의하시기 바랍니다.<br>
          기타 문의 및 궁금하신 내용은 다시 한번 저희 고객센터를 이용해주시기 바라며.
        </div>
        <div class="btnFrame">
          <a class="btnB">확인</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--存錢明細_popup_end-->
<!--資金訊息不允許_popup_start-->
<div class="NAV_fund02">
  <div class="pupop_content fadeIn animated">
    <div class="popWrapper">
      <h5 class="XX"><span class="icon-iconCross"></span></h5>
      <div class="txt">계정이 거부되었습니다. 고객 서비스에 문의하십시오.</div>
    </div>
  </div>
</div>
<!--資金訊息不允許_popup_end-->
<!--資金訊息允許_popup_start-->
<div class="NAV_fund03">
  <div class="pupop_content fadeIn animated">
    <div class="popWrapper">
      <h5 class="XX"><span class="icon-iconCross"></span></h5>
      <div class="txt">성공적으로 제출되었습니다.</div>
    </div>
  </div>
</div>
<!--資金訊息允許_popup_end-->