/*header*/
.header {
	/* rd div使用 width: calc(100%-273px) !important;*/
	height: 70px;
	z-index: 5;
	position: fixed;
	top: 0px;
}

.header::before {
	position: absolute;
	content: "";
	background-image: url(../Shared/images/common/mask_white.png);
	/* background-position-x: 1px; */
	width: 103%;
	height: 0;
	padding-bottom: 5%;
	top: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	opacity: 0.9;
}

.webp .header::before {
	background-image: url(../Shared/images/common/mask_white.webp);
}

.no-webp .header::before {
	background-image: url(../Shared/images/common/mask_white.png);
}

.header .headerWrapper {
	margin: 0 auto;
	width: 95%;
	height: 73px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header .headerWrapper .home_notice {
	width: 60%;
}

.header .headerWrapper .home_notice .notice_wrap {
	display: flex;
	align-items: center;
}

.header .headerWrapper .home_notice .notice_wrap .noticeIcon {
	margin-right: 10px;
}

.header .headerWrapper .home_notice .notice_wrap .noticeIcon img {
	width: 29px;
}

.header .headerWrapper .home_notice .notice_wrap .notice_text {
	color: var(--txtColor66);
	font-size: 13px;
}

.header .headerWrapper .home_notice .notice_wrap .notice_text marquee {}

.header .headerWrapper .rightZone {
	width: 25%;
	display: flex;
	justify-content: flex-end;
}

/*successUse_start*/

/*point_start*/
.header .headerWrapper .rightZone .moneyZone {
	display: flex;
	align-items: center;
	padding-right: 16px;
	position: relative;
	margin-left: 14px;
	/* cursor: pointer; */
}

.header .headerWrapper .rightZone .moneyZone img {
	width: 30px;
	margin-right: 10px;
}

.header .headerWrapper .rightZone .moneyZone .pointBtn {
	color: var(--txtColor02);
	padding: 5px 8px;
	background-color: var(--btnColor028);
	border-radius: 20px;
	margin-left: 7px;
	display: flex;
	align-items: center;
	white-space: nowrap;
	cursor: pointer;
	transition: .3s all ease-out;
	border: 0px;
	font-size: 12px;
}

.header .headerWrapper .rightZone .moneyZone .pointBtn:hover {
	background-color: var(--btnColor028_h);
}

/*point_end*/

.header .headerWrapper .rightZone .moneyZone::after {
	content: "";
	position: absolute;
	right: 0px;
	top: 0px;
	width: 1px;
	height: 32px;
	background: var(--bgColor086);
	background: linear-gradient(180deg, var(--bgColor086_g01) 0%, var(--bgColor086_g02) 50%, var(--bgColor086_g03) 100%);
}

.header .headerWrapper .rightZone .moneyZone span {
	color: var(--txtColor70);
	font-size: 24px;
	margin-right: 10px;
}

.header .headerWrapper .rightZone .moneyZone h4 {
	color: var(--txtColor66);
	font-size: 14px;
	font-weight: bold;
}

.header .headerWrapper .rightZone .moneyZone span.icon-icconLOAD {
	color: var(--txtColor66);
	font-size: 19px;
	margin-left: 10px;
	cursor: pointer;
}

.header .headerWrapper .rightZone .moneyZone .fundHover {
	width: 220px;
	height: 38px;
	position: absolute;
	right: 6px;
	top: 39px;
	border: 1px solid var(--bdColor047);
	background-color: var(--bdColor039);
	box-shadow: 2px 4px 5px 1px rgb(167 181 204 / 35%), inset 0px 0px 6px 1px rgb(255 255 255 / 75%);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	z-index: 3;
}

.header .headerWrapper .rightZone .moneyZone .fundHover::before {
	content: "";
	/*background-image: url(../Shared/images/common/triangle01.png);*/
	width: 20px;
	height: 12px;
	position: absolute;
	left: 102px;
	top: -12px;
}

.webp .header .headerWrapper .rightZone .moneyZone .fundHover::before {
	background-image: url(../Shared/images/common/triangle01.webp);
}

.no-webp .header .headerWrapper .rightZone .moneyZone .fundHover::before {
	background-image: url(../Shared/images/common/triangle01.png);
}

.header .headerWrapper .rightZone .moneyZone .fundHover img {}

.header .headerWrapper .rightZone .moneyZone .fundHover span {
	color: #e42626;
	font-size: 14px;
	margin-right: 0px;
	margin-left: 4px;
}

.header .headerWrapper .rightZone .memberZone {
	display: flex;
	align-items: center;
	padding-left: 16px;
	/* cursor: pointer; */
}

.header .headerWrapper .rightZone .memberZone h4 {
	color: var(--txtColor66);
	font-size: 14px;
	font-weight: bold;
}

.header .headerWrapper .rightZone .memberZone .pic {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin-right: 10px;
	position: relative;
}

.header .headerWrapper .rightZone .memberZone .pic .picFrame {
	width: 32px;
	height: 32px;
	overflow: hidden;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header .headerWrapper .rightZone .memberZone .pic .picFrame img {
	width: 32px;
	height: auto;
}

.header .headerWrapper .rightZone .memberZone .pic .dot {
	width: 10px;
	height: 10px;
	background-color: var(--bgColor087);
	position: absolute;
	z-index: 9;
	top: 0px;
	border-radius: 50%;
	right: 0px;
}

.header .headerWrapper .rightZone .memberZone .pic .memHover {
	width: 419px;
	height: 259px;
	position: absolute;
	right: -8px;
	top: 64px;
	border: 1px solid var(--bdColor047);
	background-color: var(--bdColor039);
	box-shadow: 2px 4px 5px 1px rgb(167 181 204 / 35%), inset 0px 0px 6px 1px rgb(255 255 255 / 75%);
	display: none;
	z-index: 3;
}

.header .headerWrapper .rightZone .memberZone .pic .memHover::before {
	content: "";
	/*background-image: url(../Shared/images/common/triangle.png);*/
	width: 46px;
	height: 35px;
	position: absolute;
	right: -1px;
	top: -35px;
}

.webp .header .headerWrapper .rightZone .memberZone .pic .memHover::before {
	background-image: url(../Shared/images/common/triangle.webp);
}

.no-webp .header .headerWrapper .rightZone .memberZone .pic .memHover::before {
	background-image: url(../Shared/images/common/triangle.png);
}

.header .headerWrapper .rightZone .memberZone .pic .memHover .memWrapper {
	margin: 0 auto;
	padding: 30px 27px;
}

.header .headerWrapper .rightZone .memberZone .pic .memHover .name {
	color: var(--txtColor66);
	font-size: 18px;
	font-weight: bold;
}

.header .headerWrapper .rightZone .memberZone .pic .memHover .shortCart {
	margin-top: 34px;
}

.header .headerWrapper .rightZone .memberZone .pic .memHover .shortCart ul {
	display: flex;
	justify-content: space-around;
	width: 83%;
	margin: 0 auto;
}

.header .headerWrapper .rightZone .memberZone .pic .memHover .shortCart ul li {}

.header .headerWrapper .rightZone .memberZone .pic .memHover .shortCart ul li a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header .headerWrapper .rightZone .memberZone .pic .memHover .shortCart ul li .icon {
	width: 52px;
	height: 52px;
	background-color: var(--btnColor025);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .4s ease-out;
	position: relative;
}

.header .headerWrapper .rightZone .memberZone .pic .memHover .shortCart ul li:hover .icon {
	background-color: var(--btnColor026_h);
}

.header .headerWrapper .rightZone .memberZone .pic .memHover .shortCart ul li .icon span {
	color: var(--txtColor02);
	font-size: 22px;
}

.header .headerWrapper .rightZone .memberZone .pic .memHover .shortCart ul li .icon .iconDot {
	width: 10px;
	height: 10px;
	background-color: var(--bgColor087);
	position: absolute;
	z-index: 9;
	top: 4px;
	border-radius: 50%;
	right: 1px;
}

.header .headerWrapper .rightZone .memberZone .pic .memHover .shortCart ul li .txt {
	color: var(--txtColor66);
	font-size: 14px;
	font-weight: bold;
	margin-top: 20px;
}

.header .headerWrapper .rightZone .memberZone .pic .memHover .btnM {
	width: 100%;
	padding: 13px;
	background-color: var(--btnColor027);
	color: var(--txtColor02);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	border-radius: 20px;
	margin-top: 20px;
	transition: .4s ease-out;
}

.header .headerWrapper .rightZone .memberZone .pic .memHover .btnM:hover {
	background-color: var(--btnColor027_h);
}

.header .headerWrapper .rightZone .memberZone .btnM {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--txtColor02);
	padding: 12px 0px;
	width: 111px;
	border-radius: 50px;
	font-size: 14px;
	cursor: pointer;
	margin-left: 15px;
	background-color: var(--btnColor027);
}

/*successUse_end*/

.header .headerWrapper .rightZone .btnN span {
	font-size: 19px;
	margin-right: 5px;
	transition: .3s ease-out;
}

.btnN {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--txtColor02);
	padding: 6px;
	border-radius: 50px;
	font-size: 12px;
	cursor: pointer;
	width: 27%;
	margin-left: 15px;
	box-shadow: var(--shadow08) 0.1em 0.1em 0.6em;
}

.redB {
	background-color: var(--btnColor024);
	transition: .3s ease-out;
}

.redB:hover {
	background-color: var(--btnColor024_h);
}

.redB:hover span,
.blueB:hover span {
	margin-right: 7px !important;
}

.blueB {
	background-color: var(--btnColor025);
	transition: .3s ease-out;
}

.blueB:hover {
	background-color: var(--btnColor025_h);
}

/*rwd*/
@media (max-width:1719px) {
	.btnN {
		width: 36%;
	}
}

@media (max-width:1423px) {
	.btnN {
		width: 44%;
	}
}

@media (max-width:1350px) {
	.header .headerWrapper .home_notice {
		width: 67%;
	}

	.header .headerWrapper .rightZone {
		width: 33%;
	}
}


@media (max-width:1080px) {
	.header .headerWrapper .home_notice {
		width: 65%;
	}

	.header .headerWrapper .rightZone {
		width: 35%;
	}
}

@media (max-width:1040px) {
	.header .headerWrapper .home_notice {
		width: 60%;
	}

	.header .headerWrapper .rightZone {
		width: 40%;
	}
}

/*animation*/
/*moneyRefresh動畫*/
.aniLoad {
	-webkit-animation: rotateLoad 1s 1;
	animation: rotateLoad 1s 1;
}

@keyframes rotateLoad {
	0% {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}