.miniGamePage {
	animation: none !important;
}

.miniGameZone {
	/*background-image: url(../common/lobbyBG.png);*/
	background-size: cover;
	width: 100%;
	padding-bottom: 55%;
	transition: .4s ease-out;
	position: relative;
}

.webp .miniGameZone {
	background-image: url(../common/lobbyBG.webp);
}

.no-webp .miniGameZone {
	background-image: url(../common/lobbyBG.png);
}

.miniGameZone .miniGameWrapper {
	width: 92%;
	height: 90%;
	position: absolute;
	top: 54%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.miniGameZone .miniGameWrapper .title {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.miniGameZone .miniGameWrapper .title .leftZone {
	color: var(--txtColor71);
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: start;
	width: 18.5vw;
	transform: translateZ(0px);
	margin-right: 1vw;
}

.miniGameZone .miniGameWrapper .title .leftZone span.icon-iiconLogoB {
	font-size: 2.3vw;
	margin-right: 4px;
}

.miniGameZone .miniGameWrapper .title .leftZone h4 {
	font-size: 1.4vw;
	margin-right: 0.5vw;
}

.miniGameZone .miniGameWrapper .title .leftZone span {
	color: var(--txtColor65);
	font-size: 1.4vw;
}

.miniGameZone .miniGameWrapper .title .line {
	height: 2px;
	width: 74vw;
	background-color: var(--bgColor085);
	position: relative;
}

.miniGameZone .miniGameWrapper .title .line::before {
	content: "";
	width: 8px;
	height: 8px;
	background-color: var(--bgColor085);
	position: absolute;
	top: 50%;
	left: 0px;
	transform: translate(-50%, -50%);
}

.miniGameZone .miniGameWrapper .content {
	display: flex;
	align-items: start;
	justify-content: space-around;
	margin-top: 4vh;
}

.miniGameZone .miniGameWrapper .content .leftFrame {
	width: 55%;
	position: relative;
	animation: rightIn .4s;
	animation-fill-mode: forwards;
	opacity: 0;
	min-height: 695px;
}

.miniGameZone .miniGameWrapper .content .leftZone {
	background-image: url(../MiniGame/images/mini_bg.png);
	background-size: cover;
	width: 100%;
	padding-bottom: 100%;
	position: relative;
}

.miniGameZone .miniGameWrapper .content .leftZone .obj {
	background-image: url(../MiniGame/images/mini_obj.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 0px;
	padding-bottom: 100%;
	background-size: cover;
	position: absolute;
}

.miniGameZone .miniGameWrapper .content .rightZone {
	width: 45%;
}

.miniGameZone .miniGameWrapper .content .rightZone .txt {
	margin-bottom: 27px;
	animation: topIn .4s;
	animation-fill-mode: forwards;
	opacity: 0;
}

.miniGameZone .miniGameWrapper .content .rightZone .txt h2 {
	color: var(--txtColor72);
	font-size: 1.5vw;
	font-weight: bold;
	margin-bottom: 10px;
}

.miniGameZone .miniGameWrapper .content .rightZone .txt p {
	color: var(--txtColor66);
	line-height: 1.6;
	font-size: 0.6vw;
}

.miniGameZone .miniGameWrapper .content .rightZone .btns {
	animation: leftIn .4s;
	/* animation-delay: .33s; */
	animation-fill-mode: forwards;
	opacity: 0;
	min-height: 560px;
}

.miniGameZone .miniGameWrapper .content .rightZone .btns ul {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.miniGameZone .miniGameWrapper .content .rightZone .btns ul li {
	width: 48.5%;
	height: 175px;
	border: 1px solid var(--bdColor038);
	border-radius: 10px;
	box-shadow: 2px 4px 5px 1px rgb(167 181 204 / 35%), inset 0px 0px 6px 1px rgb(255 255 255 / 75%);
	padding-bottom: 23px;
	margin-bottom: 21px;
	background: var(--bgColor073);
	background: linear-gradient(360deg, var(--bgColor074_gs) 0%, var(--bgColor074_ge) 100%);
	position: relative;
	cursor: pointer;
	overflow: hidden;
}

.miniGameZone .miniGameWrapper .content .rightZone .btns ul li .logo {
	background-repeat: no-repeat;
	background-size: cover;
	width: 53%;
	height: 0px;
	margin-top: 10px;
	transition: .3s ease-out;
	position: absolute;
	z-index: 2;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -68%);
}

.miniGameZone .miniGameWrapper .content .rightZone .btns ul li.casino01 .logoA {
	background-image: url(../MiniGame/images/mini01.png);
	padding-bottom: 37%;
	width: 44%;
}

.miniGameZone .miniGameWrapper .content .rightZone .btns ul li.casino02 .logoA {
	background-image: url(../MiniGame/images/mini02.png);
	padding-bottom: 39%;
	width: 40%;
}

.miniGameZone .miniGameWrapper .content .rightZone .btns ul li.casino03 .logoA {
	background-image: url(../MiniGame/images/mini03.png);
	padding-bottom: 36%;
	width: 48%;
}

.miniGameZone .miniGameWrapper .content .rightZone .btns ul li.casino04 .logoA {
	background-image: url(../MiniGame/images/mini04.png);
	padding-bottom: 31%;
	width: 45%;
}


.miniGameZone .miniGameWrapper .content .rightZone .btns ul li:hover .logo {
	background-position-y: 5px;
}

.miniGameZone .miniGameWrapper .content .rightZone .btns ul li .txt01 {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2;
	position: absolute;
	bottom: 13px;
}

.miniGameZone .miniGameWrapper .content .rightZone .btns ul li .txt01 h2 {
	font-size: 1.35vw;
	color: var(--txtColor73);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 93%;
	text-align: center;
}

.miniGameZone .miniGameWrapper .content .rightZone .btns ul li .txt01 span {
	font-size: 0.4vw;
	color: var(--txtColor73);
}

.miniGameZone .miniGameWrapper .content .rightZone .btns ul li:hover .txt01 h2,
.miniGameZone .miniGameWrapper .content .rightZone .btns ul li:hover .txt01 span {
	color: var(--txtColor02);
}

.miniGameZone .miniGameWrapper .content .rightZone .btns ul li .mask {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background: var(--bgColor075);
	background: linear-gradient(0deg, var(--bgColor076_g01) 0%, var(--bgColor076_g02) 40%, var(--bgColor076_g03) 100%);
	border-radius: 8px;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
	transition: .4s ease-out;
}

.miniGameZone .miniGameWrapper .content .rightZone .btns ul li .mask .inner {
	width: 99%;
	height: 99%;
	background: var(--bgColor077);
	background: linear-gradient(180deg, var(--bgColor078_g01) 0%, var(--bgColor078_g02) 75%, var(--bgColor078_g03) 100%);
	border-radius: 8px;
	z-index: 1;
	display: none;
	transition: .4s ease-out;
}

.miniGameZone .miniGameWrapper .content .rightZone .btns ul li:hover .mask,
.miniGameZone .miniGameWrapper .content .rightZone .btns ul li:hover .inner {
	display: flex;
}

.miniGameZone .miniGameWrapper .content .rightZone .btns ul li.maintainGo .maintain {
	display: flex;
}

.miniGameZone .miniGameWrapper .content .rightZone .btns ul li .maintain {
	display: none;
	background-color: var(--bgColor084);
	border: 1px solid var(--bdColor052);
	border-radius: 10px;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	cursor: none;
}

.miniGameZone .miniGameWrapper .content .rightZone .btns ul li .maintain span {
	font-size: 5vw;
	color: var(--txtColor85);
}

.miniGameZone .miniGameWrapper .content .rightZone .btns ul li .maintain h4 {
	color: var(--txtColor85);
	font-size: 1vw;
	font-weight: bold;
	margin-top: 3%;
}


/*animation*/
.aniLogoMini {
	-webkit-animation: aniLogoMini 1s infinite;
	animation: aniLogoMini 1s infinite;
}

.aniLogo01 {
	-webkit-animation: aniLogo01 2.3s infinite;
	animation: aniLogo01 2.3s infinite;
}

@keyframes aniLogoMini {
	0% {
		background-position-y: 0px;
	}

	50% {
		background-position-y: 5px;
	}

	100% {
		background-position-y: 0px;
	}
}

@keyframes aniLogo01 {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.98);
	}

	100% {
		transform: scale(1);
	}
}

/*rwd*/
@media (max-width:1350px) {
	.miniGameZone .miniGameWrapper .content .rightZone .btns ul li .txt01 h2 {
		font-size: 20px;
	}

	.miniGameZone .miniGameWrapper .content .rightZone .btns ul li .txt01 span {
		font-size: 12px;
	}

	.miniGameZone .miniGameWrapper .content .rightZone .txt h2 {
		font-size: 24px;
	}

	.miniGameZone .miniGameWrapper .content .rightZone .txt p {}
}

@media (max-width:1080px) {
	.miniGameZone .miniGameWrapper .title .leftZone {
		/* width: 17vw; */
	}

	.miniGameZone .miniGameWrapper .title .line {
		width: 73vw;
	}
}

@media (max-width:1053px) {
	.miniGameZone .miniGameWrapper .content .rightZone .btns ul li {
		height: 135px;
	}
}

@keyframes leftIn {
	0% {
		-webkit-transform: translateX(50%);
		-moz-transform: translateX(50%);
		-o-transform: translateX(50%);
		transform: translateX(50%);
		opacity: 0
	}

	to {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
		opacity: 1
	}
}

@keyframes rightIn {
	0% {
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
		opacity: 0
	}

	to {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
		opacity: 1
	}
}

@keyframes topIn {
	0% {
		-webkit-transform: translateY(-300%);
		-moz-transform: translateY(-300%);
		-o-transform: translateY(-300%);
		transform: translateY(-300%);
		opacity: 0
	}

	to {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
		opacity: 1
	}
}