/*animation*/
.aniModel {
	-webkit-animation: aniModel 1s infinite;
	animation: aniModel 1s infinite;
}

@keyframes aniModel {
	0% {
		background-position-y: 0px;
	}

	50% {
		background-position-y: 5px;
	}

	100% {
		background-position-y: 0px;
	}
}

/*RWD*/

@media (max-width:1572px) {
	.main_content_wrap {
		width: 87%;
		margin-left: 6%;
	}

	.rightContent .contents .casinoZone .content ul li.casino01 .modelA {
		top: 6%;
	}

	.rightContent .contents .casinoZone .content ul li.casino02 .modelA {
		top: 7%;
	}

	.rightContent .contents .casinoZone .content ul li.casino03 .modelA {
		top: 5%;
	}

	.rightContent .contents .casinoZone .content ul li.casino04 .modelA {
		top: 5%;
	}

	.rightContent .contents .casinoZone .content ul li.casino05 .modelA {
		top: 6%;
	}

	.rightContent .contents .casinoZone .content ul li.casino06 .modelA {
		top: 7%;
	}

	.rightContent .contents .casinoZone .content ul li.casino07 .modelA {
		top: 6%;
	}

	.rightContent .contents .casinoZone .content ul li.casino08 .modelA {
		top: 5%;
	}
}

@media (max-width:1552px) {
	.rightContent .contents .cuponZone .leftZone .pic {
		padding-bottom: 52%;
	}
}

@media (max-width:1547px) {
	.main_content_wrap {
		width: 83%;
		margin-left: 5%;
	}
}

@media (max-width:1480px) {
	.rightContent .contents .cuponZone .leftZone .pic {
		padding-bottom: 54%;
	}
}

@media (max-width:1477px) {
	.main_content_wrap {
		width: 78%;
		margin-left: 4%;
	}
}

@media (max-width:1443px) {
	.main_content_wrap {
		width: 78%;
		margin-left: 5%;
	}
}

@media (max-width:1442px) {}

@media (max-width:1420px) {
	.main_content_wrap {
		width: 89%;
		margin-left: 5%;
	}

	.rightContent .contents .casinoZone .content ul {
		justify-content: space-between;
	}

	.rightContent .contents .casinoZone .content ul li {
		width: 49%;
		height: 180px;
	}

	.rightContent .contents .casinoZone .content ul li .logo {
		background-size: cover;
		position: absolute;
		right: 24%;
		top: 17%;
		z-index: 2;
	}

	.rightContent .contents .casinoZone .content ul li.casino01 .logoA {
		width: 8.9%;
		padding-bottom: 8.9%;
		right: 27%;
		top: 21%;
	}

	.rightContent .contents .casinoZone .content ul li.casino02 .logoA {
		width: 13%;
		padding-bottom: 7.1%;
		right: 25%;
		top: 24%;
	}

	.rightContent .contents .casinoZone .content ul li.casino03 .logoA {
		width: 13.2%;
		padding-bottom: 7.8%;
		top: 23%;
		right: 26%;
	}

	.rightContent .contents .casinoZone .content ul li.casino04 .logoA {
		width: 8.2%;
		right: 27%;
		top: 23%;
		padding-bottom: 8.1%;
	}

	.rightContent .contents .casinoZone .content ul li.casino05 .logoA {
		width: 8.3%;
		padding-bottom: 11.9%;
		right: 28%;
		top: 12%;
	}

	.rightContent .contents .casinoZone .content ul li.casino06 .logoA {
		width: 19%;
		padding-bottom: 7.5%;
		top: 24%;
	}

	.rightContent .contents .casinoZone .content ul li.casino07 .logoA {
		width: 11%;
		padding-bottom: 9.1%;
		top: 20%;
		right: 27%;
	}

	.rightContent .contents .casinoZone .content ul li.casino08 .logoA {
		width: 17%;
		padding-bottom: 8.1%;
		right: 23%;
		top: 21%;
	}


	.rightContent .contents .casinoZone .content ul li.casino01 .modelA {
		padding-bottom: 31%;
		width: 54%;
		top: 6%;
		left: -4%;
	}


	.rightContent .contents .casinoZone .content ul li.casino02 .modelA {
		padding-bottom: 34%;
		width: 43%;
		left: 6%;
		top: 4%;
	}

	.rightContent .contents .casinoZone .content ul li.casino03 .modelA {
		padding-bottom: 33.7%;
		width: 57%;
	}

	.rightContent .contents .casinoZone .content ul li.casino04 .modelA {
		padding-bottom: 36%;
		width: 60%;
		left: -5%;
	}

	.rightContent .contents .casinoZone .content ul li.casino05 .modelA {
		padding-bottom: 36%;
		width: 48%;
		left: 2%;
	}

	.rightContent .contents .casinoZone .content ul li.casino06 .modelA {
		padding-bottom: 36%;
		width: 54%;
		left: 4%;
		top: 4%;
	}

	.rightContent .contents .casinoZone .content ul li.casino07 .modelA {
		padding-bottom: 36%;
		width: 61%;
	}

	.rightContent .contents .casinoZone .content ul li.casino08 .modelA {
		padding-bottom: 36%;
		width: 49%;
		top: 2%;
		left: 2%;
	}


	.rightContent .contents .casinoZone .content ul li .txt {
		left: 50%;
		top: 54%;
		transform: translate(-32%, -17%);
	}

	.rightContent .contents .cuponZone {
		flex-direction: column-reverse;
	}

	.rightContent .contents .cuponZone .rightZone ul li {
		width: 32.8%;
	}

	.rightContent .contents .cuponZone .slotLeft {
		width: 100%;
	}

	.rightContent .contents .cuponZone .rightZone ul {
		display: flex;
		justify-content: space-between;
	}

	.rightContent .contents .cuponZone .rightZone {
		width: 100%;
	}

	.main_content .main_content_wrap .infoZone {
		width: 85%;
	}

	.main_content .main_content_wrap .infoZone .info01 .list .listA .message {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 183px;
	}
}

.main_content_wrap_coupon {
	width: 94%;
	margin-top: 76px;
}

.gameZoneA {
	margin-top: 20px;
}

.gameZoneA .tabZone {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.gameZoneA .tabZone ul {
	display: flex;
	width: 80%;
}

.gameZoneA .tabZone ul li {
	height: 47px;
	background-color: var(--main);
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: .4s ease-out;
	position: relative;
	margin-right: 4.5%;
	/* padding: 12px; */
}


.gameZoneA .tabZone ul li span {
	font-size: 46px;
	background: rgb(161, 170, 195);
	background: linear-gradient(360deg, rgba(161, 170, 195, 1) 0%, rgba(216, 219, 239, 1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: .4s ease-out;
	height: 72px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.gameZoneA .tabZone ul li::after {
	content: "";
	width: 100%;
	height: 4px;
	background-color: var(--bgColor095);
	border-radius: 20px;
	position: absolute;
	bottom: 0px;
	opacity: 0;
	transition: .4s ease-out;
}

.gameZoneA .tabZone ul li:hover::after,
.gameZoneA .tabZone ul li.active::after {
	opacity: 1;
}




.gameZoneA .tabZone ul li h4 {
	color: var(--txtColor66);
	font-size: 20px;
	transition: .4s ease-out;
	font-weight: bold;
}

.gameZoneA .tabZone ul li:hover h4 {
	color: var(--txtColor75);
}

.gameZoneA .tabZone ul li.active h4 {
	color: var(--txtColor75);
}

.gameZoneA .tabZone ul li.active span,
.gameZoneA .tabZone ul li:hover span {
	background: rgb(215, 175, 138);
	background: linear-gradient(360deg, rgba(215, 175, 138, 1) 0%, rgba(215, 175, 138, 1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.gameZoneA .tabZone .infoZone {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.gameZoneA .tabZone .infoZone span {
	color: var(--txtColor66);
}

.gameZoneA .tabZone .infoZone .goCoupon {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--txtColor02);
	padding: 13px 15px;
	border-radius: 50px;
	font-size: 14px;
	cursor: pointer;
	margin-left: 15px;
	background-color: var(--btnColor024);
	transition: .3s ease-out;
	border: 0px;
}

.gameZoneA .tabZone .infoZone .goCoupon:hover {
	background-color: var(--btnColor024_h);
}

.gameZoneA .cuponZone {
	background-color: var(--bgColor017);
	overflow: hidden;
	height: auto;
	width: 100%;
	padding-bottom: 11px;
}

.gameZoneA .cuponZone ul li.cuponLobby:nth-child(1) {
	display: block;
}

.gameZoneA .cuponZone ul li.cuponLobby:nth-child(2),
.gameZoneA .cuponZone ul li.cuponLobby:nth-child(3),
.gameZoneA .cuponZone ul li.cuponLobby:nth-child(4),
.gameZoneA .cuponZone ul li.cuponLobby:nth-child(5),
.gameZoneA .cuponZone ul li.cuponLobby:nth-child(6),
.gameZoneA .cuponZone ul li.cuponLobby:nth-child(7) {
	display: none;
}

.gameZoneA .cuponZone ul li.cuponLobby {
	padding: 28px 0px;
}

.gameZoneA .cuponZone ul li.cuponLobby ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.gameZoneA .cuponZone ul li.cuponLobby ul li {
	width: 32%;
	transition: .4s ease-out;
	position: relative;
	border: 1px solid var(--bdColor038);
	background-color: var(--bgColor070);
	border-radius: 10px;
	box-shadow: 2px 4px 5px 1px rgb(167 181 204 / 35%), inset 0px 0px 6px 1px rgb(255 255 255 / 75%);
	margin-top: 25px;
	margin: 0 auto;
	margin-bottom: 19px;
	cursor: pointer;
}

.gameZoneA .cuponZone ul li.cuponLobby ul li .sat {
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	width: 27%;
	height: auto;
	padding-bottom: 29%;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 11px;
	left: -2%;
	color: var(--txtColor02);
	letter-spacing: -1px;
	z-index: 2;
}

.gameZoneA .cuponZone ul li.cuponLobby ul li .sat01 {
	/*background-image: url(../Coupon/images/coupon_sat01.png);*/
	display: none;
}

.webp .gameZoneA .cuponZone ul li.cuponLobby ul li .sat01 {
	background-image: url(../Coupon/images/coupon_sat01.webp);
}

.no-webp .gameZoneA .cuponZone ul li.cuponLobby ul li .sat01 {
	background-image: url(../Coupon/images/coupon_sat01.png);
}

.gameZoneA .cuponZone ul li.cuponLobby ul li .sat02 {
	/*background-image: url(../Coupon/images/coupon_sat02.png);*/
	display: none;
}

.webp .gameZoneA .cuponZone ul li.cuponLobby ul li .sat02 {
	background-image: url(../Coupon/images/coupon_sat02.webp);
}

.no-webp .gameZoneA .cuponZone ul li.cuponLobby ul li .sat02 {
	background-image: url(../Coupon/images/coupon_sat02.png);
}

.gameZoneA .cuponZone ul li.cuponLobby ul li .mask {
	width: 100%;
	height: 100%;
	background-color: var(--bgColor013_op);
	z-index: 2;
	position: absolute;
	border-radius: 5px;
	display: none;
	transition: .4s ease-out;
	cursor: pointer;
}

/*can > _start*/
.gameZoneA .cuponZone ul li.cuponLobby ul li.can .sat01,
.gameZoneA .cuponZone ul li.cuponLobby ul li.can .sat02,
.gameZoneA .cuponZone ul li.cuponLobby ul li.can .mask {
	display: none;
}

/*can > _end*/

/*cannot > _start*/

.gameZoneA .cuponZone ul li.cuponLobby ul li.cannot {
	border: 1px solid var(--bdColor051);
}

.gameZoneA .cuponZone ul li.cuponLobby ul li.cannot:hover .upZone img {
	transform: scale(1);
}

.gameZoneA .cuponZone ul li.cuponLobby ul li.cannot .sat01 {
	display: block;
}

.gameZoneA .cuponZone ul li.cuponLobby ul li.cannot .sat02 {
	display: none;
}

.gameZoneA .cuponZone ul li.cuponLobby ul li.cannot .mask {
	display: none;
}

.gameZoneA .cuponZone ul li.cuponLobby ul li.cannot .mask {
	display: none;
}

.gameZoneA .cuponZone ul li.cuponLobby ul li.cannot .upZone img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}

.gameZoneA .cuponZone ul li.cuponLobby ul li.cannot .hintP06 {
	/*background-image: url(../Coupon/images/pp07.png);*/
}

.webp .gameZoneA .cuponZone ul li.cuponLobby ul li.cannot .hintP06 {
	background-image: url(../Coupon/images/pp07.webp);
}

.no-webp .gameZoneA .cuponZone ul li.cuponLobby ul li.cannot .hintP06 {
	background-image: url(../Coupon/images/pp07.png);
}

.gameZoneA .cuponZone ul li.cuponLobby ul li.cannot .bottomZone h3,
.gameZoneA .cuponZone ul li.cuponLobby ul li.cannot .bottomZone h2,
.gameZoneA .cuponZone ul li.cuponLobby ul li.cannot .bottomZone p {
	color: var(--txtColor81);
}

/*cannot > _start*/

/*out > _start*/

.gameZoneA .cuponZone ul li.cuponLobby ul li.out:hover .upZone img {
	transform: scale(1);
}

.gameZoneA .cuponZone ul li.cuponLobby ul li.out .sat01 {
	display: none;
}

.gameZoneA .cuponZone ul li.cuponLobby ul li.out .sat02 {
	display: block;
}

.gameZoneA .cuponZone ul li.cuponLobby ul li.out .mask {
	display: block;
}

/*out > 已領完_end*/


.gameZoneA .cuponZone ul li.cuponLobby ul li .hintP {
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	width: 15%;
	height: auto;
	padding-bottom: 5%;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 11px;
	top: -4px;
	left: 3%;
	color: var(--txtColor02);
	letter-spacing: -1px;
	font-size: .6vw;
	z-index: 1;
}

.gameZoneA .cuponZone ul li.cuponLobby ul li .hintP06 {
	background-image: url(../Coupon/images/pp06.png);
}

.gameZoneA .cuponZone ul li.cuponLobby ul li .upZone {
	border-radius: 9px 9px 0px 0px;
	overflow: hidden;
}

.gameZoneA .cuponZone ul li.cuponLobby ul li .upZone img {
	width: 100%;
	height: auto;
	transition: .4s ease-out;
}

.gameZoneA .cuponZone ul li.cuponLobby ul li:hover .upZone img {
	transform: scale(1.1);
}

.gameZoneA .cuponZone ul li.cuponLobby ul li .bottomZone {
	padding: 20px 20px 29px 20px;
}

.gameZoneA .cuponZone ul li.cuponLobby ul li .bottomZone .txt {
	display: flex;
}

.gameZoneA .cuponZone ul li.cuponLobby ul li .bottomZone h3 {
	color: var(--txtColor66);
	font-size: 1vw;
	font-weight: bold;
	margin-bottom: 13px;
}

.gameZoneA .cuponZone ul li.cuponLobby ul li .bottomZone h2 {
	color: var(--txtColor66);
	font-size: 0.8vw;
	margin-bottom: 15px;
}

.gameZoneA .cuponZone ul li.cuponLobby ul li .bottomZone p {
	color: var(--txtColor66);
	line-height: 1.6;
}

.gameZoneA .cuponZone ul li.cuponLobby ul li a .pic {
	width: 100%;
	height: auto;
	position: relative;
	background-color: var(--bgColor017);
	border: 1px solid var(--bdColor010);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1px;
	overflow: hidden;
	border-radius: 30px;
}

.gameZoneA .cuponZone ul li.cuponLobby ul li a .pic img {
	z-index: 1;
	position: relative;
	transition: .3s ease-out;
	width: 100%;
	height: auto;
}

.gameZoneA .cuponZone ul li.cuponLobby ul li a .name {
	position: relative;
	width: 95%;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 4px;
	margin: 0 auto;
}

.gameZoneA .cuponZone ul li.cuponLobby ul li a .name::before {}

.gameZoneA .cuponZone ul li.cuponLobby ul li a .name span {
	z-index: 1;
	color: var(--txtColor66);
	font-weight: bolder;
	font-size: 0.9vw;
}

.gameZoneA .cuponZone ul li.cuponLobby ul li:hover .pic img {
	transform: rotate(10deg) scale(1.1);
}

.gameZoneA .cuponZone ul li.cuponLobby ul li .mask::before {}

.gameZoneA .cuponZone ul li.cuponLobby ul li .mask .gogo {
	width: 75%;
	height: 44px;
	position: relative;
	cursor: pointer;
	transition: .4s ease-out;
	box-shadow: 6px 5px 7px var(--shadow08) .5;
	background: rgb(242, 208, 155);
	background: linear-gradient(90deg, rgba(242, 208, 155, 1) 0%, rgba(219, 184, 151, 1) 40%, rgba(142, 112, 84, 1) 100%);
	border-radius: 20px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.gameZoneA .cuponZone ul li.cuponLobby ul li .mask .gogo span {
	color: var(--txtColor02);
	font-size: 0.8vw;
}

.gameZoneA .cuponZone .pager_block {
	float: left;
	width: 100%;
	display: flex;
	margin-top: 10px;
}

.gameZoneA .cuponZone .pager_block .page-list {
	text-align: center;
	display: flex;
	margin: 0 auto;
}

.gameZoneA .cuponZone .pager_block ul {
	width: auto;
	display: inline-block !important;
	padding: 0;
}

.gameZoneA .cuponZone .pager_block ul li {
	background: none;
	padding: 0;
	margin: 0;
	display: inline-block;
	margin-bottom: 0px !important;
	width: auto !important;
	margin-right: 2px !important;
}

.gameZoneA .cuponZone .pager_block ul .prev {
	margin-left: 0px;
}

.gameZoneA .cuponZone .pager_block ul .next a {}

.gameZoneA .cuponZone .pager_block ul li a {
	font-size: 12px;
	color: var(--txtColor88);
	border: 1px solid var(--bdColor058);
	padding: 0px 12px;
	border-radius: 3px;
	transition: .4s ease-out;
	text-decoration: none;
}

.gameZoneA .cuponZone .pager_block ul li a:hover {
	border: 1px solid var(--bdColor018);
}

.gameZoneA .cuponZone .pager_block ul .on {
	color: var(--txtColor02);
	background: var(--bgColor121);
	border: 1px solid var(--bdColor057);
}

.gameZoneA .cuponZone .pager_block ul li:hover a {
	color: var(--txtColor02);
	background: var(--bgColor121);
	border: 1px solid var(--bdColor057);
}

.gameZoneA .cuponZone .pager_block ul .prev {}

.gameZoneA .cuponZone .pager_block ul .first,
.gameZoneA .cuponZone .pager_block ul .last {}

.gameZoneA .cuponZone .pager_block ul .first a,
.gameZoneA .cuponZone .pager_block ul .last a {
	/* background-color: var(--bgColor010); */
}

.pager_block ul .first span,
.pager_block ul .last span {
	position: relative;
}

.pager_block ul .first span::after {
	content: "";
	width: 1px;
	height: 10px;
	background-color: var(--bdColor043);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(25px, -50%);
}

.pager_block ul .last span::after {
	content: "";
	width: 1px;
	height: 10px;
	background-color: var(--bdColor043);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-22px, -50%);
}

.pager_block ul li.first:hover a,
.pager_block ul li.prev:hover a,
.pager_block ul li.next:hover a,
.pager_block ul li.last:hover a {
	color: var(--txtColor89) !important;
	background: var(--bgColor092) !important;
	border: 1px solid var(--bdColor058) !important;
}


/*animation*/
/*start animation*/

.activePlay {
	-webkit-animation: bounce 1s infinite;
	animation: bounce 1s infinite;
}

@keyframes bounce {
	0% {
		transform: translate(-50%, -50%);
	}

	50% {
		transform: translate(-50%, -45%);
	}

	100% {
		transform: translate(-50%, -50%);
	}
}

.aniTab {
	-webkit-animation: aniTab 1s infinite;
	animation: aniTab 1s infinite;
}

@keyframes aniTab {
	0% {
		background: rgb(215, 175, 138);
		background: linear-gradient(360deg, rgba(215, 175, 138, 1) 0%, rgba(215, 175, 138, 1) 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		transform: scale(1);

	}

	50% {
		background: rgb(215, 175, 138);
		background: linear-gradient(360deg, rgba(215, 175, 138, 1) 0%, rgba(215, 175, 138, 1) 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		transform: scale(1.1);
	}

	100% {
		background: rgb(215, 175, 138);
		background: linear-gradient(360deg, rgba(215, 175, 138, 1) 0%, rgba(215, 175, 138, 1) 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		transform: scale(1);
	}
}