html {
	font-family: 'ko' !important;
}

body {}

/*common_start*/
.jAllcontent button {
	background: linear-gradient(180deg, #FF003D 0%, #C600BE 100%);
	border: 0px;
	padding: 5px 40px;
	color: #ffffff;
	font-size: 17px;
	border-radius: 5px;
	box-shadow: #bebebec4 0em 0.05em 0.1em;
	transition: .2s all ease-out;
}

.jAllcontent button:hover {
	background: linear-gradient(180deg, #df0036 0%, #a6009f 100%);
}

.ac {
	text-align: center;
}

.aL {
	text-align: left;
}

.aR {
	text-align: right;
}

/*common_end*/

.jAllcontent {}

.jAllcontent .header {
	width: 100%;
	height: 79px;
	background-color: #ffffff;
	box-shadow: #cbced8 0em 0em 1.6em;
}

.jAllcontent .header .headerWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 79px;
}

.jAllcontent .header .headerWrapper img {
	width: 234px;
}

.jAllcontent .content {
	padding-bottom: 50px;
}

.jAllcontent .content .contentWrapper {
	margin: 0 auto;
}

/*loginFrame*/
.jAllcontent .content .contentWrapper .loginFrame {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 103px;
}

.jAllcontent .content .contentWrapper .loginFrame .txtZone {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.jAllcontent .content .contentWrapper .loginFrame .txtZone .title {
	color: #ff2359;
	font-size: 37px;
	font-family: ko-bold !important;
	text-align: center;
	text-shadow: #bebebec4 0em 0.05em 0.1em;
}

.jAllcontent .content .contentWrapper .loginFrame .txtZone .title01 {
	font-size: 32px;
	margin-top: 16px;
}

.jAllcontent .content .contentWrapper .loginFrame .txtZone .title02 {
	font-size: 16px;
	margin-top: 5px;
}

.jAllcontent .content .contentWrapper .loginFrame .inputZone {
	margin-top: 23px;
}

.jAllcontent .content .contentWrapper .loginFrame .inputZone .input_content {
	position: relative;
}

.jAllcontent .content .contentWrapper .loginFrame .inputZone .input_content input {
	border: 1px solid #b0b0b0;
	width: 393px;
	border-radius: 3px;
	padding-left: 18px;
	font-family: ko !important;
}

.jAllcontent .content .contentWrapper .loginFrame .inputZone .input_content input::placeholder {
	color: 7e7e7e;
	font-family: ko-regular !important;
}

.jAllcontent .content .contentWrapper .loginFrame .inputZone .input_content .check {
	position: absolute;
	right: 13px;
	top: 4px;
	color: #ff2359;
	font-size: 24px;
}

.jAllcontent .content .contentWrapper .loginFrame .inputZone .input_content .check span {}

.jAllcontent .content .contentWrapper .loginFrame .inputZone .hintTxt {
	font-size: 16px;
	background: linear-gradient(180deg, #FF003D 0%, #C600BE 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
}

.jAllcontent .content .contentWrapper .loginFrame .btnM {
	margin-top: 53px;
}

/*itemFrame*/

.jAllcontent .content .contentWrapper .itemFrame {
	margin-top: 37px;
}

.jAllcontent .content .contentWrapper .itemFrame .title {
	width: 100%;
	border-bottom: 1px solid #d7dae5;
	padding: 13px 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {}

.jAllcontent .content .contentWrapper .itemFrame .title span {
	font-size: 18px;
	font-family: 'ko-regular';
	color: #8d8d8e;
}

.jAllcontent .content .contentWrapper .itemFrame .title span.oi a {
	color: #ff2358;
	font-size: 20px;
	text-decoration: underline;
	cursor: pointer;
	display: none;
}

span.oi {}

.jAllcontent .content .contentWrapper .itemFrame .itemContent {
	padding: 13px 80px;
}

.jAllcontent .content .contentWrapper .itemFrame .itemContent .amountZone {
	border-bottom: 1px solid #7e7e7e;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
	margin-top: 10px;
}

.jAllcontent .content .contentWrapper .itemFrame .itemContent .amountZone .leftZone {
	color: #d9001b;
	font-size: 29px;
}

.jAllcontent .content .contentWrapper .itemFrame .itemContent .amountZone .rightZone {
	display: flex;
	align-items: center;
}

.jAllcontent .content .contentWrapper .itemFrame .itemContent .amountZone .rightZone .txt {
	font-size: 22px;
}

.jAllcontent .content .contentWrapper .itemFrame .itemContent .amountZone .rightZone .txt span {
	font-size: 22px;
	font-family: 'ko-bold';
	margin-left: 35px;
}

.jAllcontent .content .contentWrapper .itemFrame .itemContent .amountZone .rightZone .btnM {
	margin-left: 22px;
}

.jAllcontent .content .contentWrapper .itemFrame .itemContent .adjustZone {
	padding-top: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 26px;
}

.jAllcontent .content .contentWrapper .itemFrame .itemContent .adjustZone .adjustJ {
	display: flex;
	margin-bottom: 67px;
	margin-left: 56px;
}

.jAllcontent .content .contentWrapper .itemFrame .itemContent .adjustZone .adjustJ .picFrame {
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(194, 122, 200);
	background: linear-gradient(180deg, rgba(194, 122, 200, 1) 0%, rgba(106, 104, 193, 1) 100%);
	box-shadow: #cbced8 0em 0em 3em;
	outline-style: ridge;
	outline-color: white;
	border-radius: 10px;
}

.picFrame img {
	width: 58px;
}

.jAllcontent .content .contentWrapper .itemFrame .itemContent .adjustZone .adjustJ .rightZone {
	margin-left: 10px;
	width: 435px;
	border: 1px solid #b0b0b0;
	padding: 12px 12px 12px 12px;
	position: relative;
	box-shadow: #cbced8 0em 0em 0.7em;
}

.jAllcontent .content .contentWrapper .itemFrame .itemContent .adjustZone .adjustJ .rightZone .titleA {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 3px 12px;
	font-family: 'ko-bold';
	font-size: 17px;
	background-color: #fe6387;
	color: #ffffff;
	width: 100%;
}

.jAllcontent .content .contentWrapper .itemFrame .itemContent .adjustZone .adjustJ .rightZone .txt {
	margin-top: 32px;
	line-height: 1.6;
}

.jAllcontent .content .contentWrapper .itemFrame .itemContent .adjustZone .adjustJ .rightZone .txt span {
	font-family: 'ko-bold';
}

.jAllcontent .content .contentWrapper .itemFrame .itemContent .adjustZone .adjustJ .rightZone .txt p {
	color: #7E7E7E;
	font-family: 'ko-regular';
	margin-top: 3px;
}

.jAllcontent .content .contentWrapper .itemFrame .itemContent .adjustZone .adjustJ .rightZone .count {
	position: absolute;
	right: 10px;
	top: 42px;
	display: flex;
}

.jAllcontent .content .contentWrapper .itemFrame .itemContent .adjustZone .adjustJ .rightZone .count .cube {
	width: 24px;
	height: 24px;
	background-color: #ff2358;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	font-size: 21px;
	border-radius: 3px;
	cursor: pointer;
}

.jAllcontent .content .contentWrapper .itemFrame .itemContent .adjustZone .adjustJ .rightZone .count .cube .lessIcon {
	width: 10px;
	height: 2px;
	border-radius: 3px;
	background-color: #ffffff;
}

.jAllcontent .content .contentWrapper .itemFrame .itemContent .adjustZone .adjustJ .rightZone .count .no {
	background-color: #eeeeee;
	width: 81px;
	height: 24px;
	margin: 0px 4px;
	border-radius: 3px;
	padding-left: 12px;
}

/*cart*/
.cartFrame {}

.jAllcontent .cartFrame .title span.oi img {
	width: 28px;
	cursor: pointer;
}

.jAllcontent .cartFrame .contentCart {
	width: 80%;
	margin: 20px auto;
}

.jAllcontent .cartFrame .contentCart .titleA {
	font-size: 25px;
	font-family: 'ko-bold';
	margin-bottom: 12px;
}

.jAllcontent .cartFrame .contentCart .cartTable {
	width: 100%;
}

.jAllcontent .cartFrame .contentCart .cartTable table {
	width: 100%;
	box-shadow: #b5b6ba 0em 0em 0.4em;
}

.jAllcontent .cartFrame .contentCart .cartTable table tr {
	/* box-shadow: #b5b6ba 0em 0em 0.4em; */
}

.jAllcontent .cartFrame .contentCart .cartTable table tr th {
	background-color: #ff2358;
	padding: 5px 0px;
	color: #ffffff;
	font-weight: 100;
	font-family: 'ko-regular';
	border-radius: 0px;
}

.jAllcontent .cartFrame .contentCart .cartTable table tr td {
	background-color: #eeeeee;
}

.jAllcontent .cartFrame .contentCart .cartTable table tr td .cube {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.jAllcontent .cartFrame .contentCart .cartTable table tr td .cube img {
	width: 40px;
}


.jAllcontent .cartFrame .contentCart .listCart {}

.jAllcontent .cartFrame .contentCart .listCart table {
	margin-top: 22px;
}

.jAllcontent .cartFrame .contentCart .listCart table tr {}

.jAllcontent .cartFrame .contentCart .listCart table tr.bLine {
	border-bottom: 1px solid #7E7E7E;
	margin-bottom: 22px;
}

.jAllcontent .cartFrame .contentCart .listCart table tr.bLine td {
	padding-bottom: 13px;
}

.jAllcontent .cartFrame .contentCart .listCart table tr td {
	padding: 3px 10px;
}

.jAllcontent .cartFrame .contentCart .listCart table tr td.pdUSE {
	width: 70%;
}

.jAllcontent .cartFrame .contentCart .listCart table tr td.td01 {
	color: #7e7e7e;
	font-size: 16px;
}

.jAllcontent .cartFrame .contentCart .listCart table tr td.td02 {
	color: #ff2358;
	font-size: 16px;
}

.jAllcontent .cartFrame .contentCart .listCart table tr td.td03 {
	color: #ff2358;
	font-size: 18px;
}

.jAllcontent .cartFrame .contentCart .listCart table tr td.td04 {
	font-family: 'ko-bold';
	font-size: 22px;
}

.jAllcontent .cartFrame .contentCart .listCart table tr td.td05 {
	font-family: 'ko-bold';
	font-size: 22px;
}

.jAllcontent .cartFrame .contentCart .adjustJ {
	display: flex;
	width: 100%;
}

.jAllcontent .cartFrame .contentCart .adjustJ .rightZone {
	margin-left: 10px;
	width: 101%;
	border: 1px solid #b0b0b0;
	padding: 42px 22px 53px 22px;
	position: relative;
	box-shadow: #cbced8 0em 0em 0.7em;
	margin-top: 40px;
}

.jAllcontent .cartFrame .contentCart .adjustJ .rightZone .titleA {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 8px 13px;
	font-family: 'ko-bold';
	font-size: 17px;
	background-color: #fe6387;
	width: 100%;
	color: #ffffff;
}

.jAllcontent .cartFrame .contentCart .adjustJ .rightZone .txt {
	margin-top: 37px;
	line-height: 2;
	margin-left: 21px;
}

.jAllcontent .cartFrame .contentCart .adjustJ .rightZone .txt span {
	font-family: 'ko-regular';
}

.jAllcontent .cartFrame .contentCart .adjustJ .rightZone .btnM {
	position: absolute;
	top: 62px;
	right: 16px;
}

.jAllcontent .cartFrame .contentCart .hintTxt {
	font-size: 16px;
	background: linear-gradient(180deg, #FF003D 0%, #C600BE 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	margin-top: 16px;
}

/*order*/

.jAllcontent .cartFrame .contentOrder {
	width: 60%;
}

.jAllcontent .orderFrame .contentCart .adjustJ {
	margin-top: -26px;
}

.jAllcontent .cartFrame .contentCart .adjustJ .rightZone .listOrder {
	width: 88%;
	margin: 0 auto;
	padding-top: 20px;
}

.jAllcontent .cartFrame .contentCart .adjustJ .rightZone .listOrder table {
	/* margin-top: 22px; */
}

.jAllcontent .cartFrame .contentCart .adjustJ .rightZone .listOrder table tr {}

.jAllcontent .cartFrame .contentCart .adjustJ .rightZone .listOrder table tr.bLine {
	border-bottom: 1px solid #7E7E7E;
	margin-bottom: 22px;
}

.jAllcontent .cartFrame .contentCart .adjustJ .rightZone .listOrder table tr.bLine td {
	padding-bottom: 7px;
}

.jAllcontent .cartFrame .contentCart .adjustJ .rightZone .listOrder table tr.bLine td.vt {
	vertical-align: top;
}

.jAllcontent .cartFrame .contentCart .adjustJ .rightZone .listOrder table tr td {
	padding: 10px 10px;
}

.jAllcontent .cartFrame .contentCart .adjustJ .rightZone .listOrder table tr td.pdUSE {
	width: 10%;
}

.jAllcontent .cartFrame .contentCart .adjustJ .rightZone .listOrder table tr td.pdUSE01 {
	width: 50%;
}

.jAllcontent .cartFrame .contentCart .adjustJ .rightZone .listOrder table tr td.td01 {
	color: #7e7e7e;
	font-size: 16px;
}

.jAllcontent .cartFrame .contentCart .adjustJ .rightZone .listOrder table tr td.td02 {
	color: #000000;
	font-size: 14px;
	font-family: 'ko-bold';
}

.jAllcontent .cartFrame .contentCart .adjustJ .rightZone .listOrder table tr td.td03 {
	color: #ff2358;
	font-size: 16px;
	font-weight: bold;
	width: 40%;
}

.jAllcontent .cartFrame .contentCart .adjustJ .rightZone .listOrder table tr td.td04 {
	font-family: 'ko-bold';
	font-size: 16px;
	white-space: nowrap;
	color: #737373;
	width: 20%;
}

.jAllcontent .cartFrame .contentCart .adjustJ .rightZone .listOrder table tr td.td05 {
	font-family: 'ko-bold';
	font-size: 22px;
}

.jAllcontent .cartFrame .contentCart .benFrame {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 28px;
}

.jAllcontent .cartFrame .contentCart .benFrame .btnM {}

/*footer*/

.jAllcontent footer {
	width: 100%;
	height: 48px;
	color: #ffffff;
	background-color: #ff91ab;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 0px;
	font-family: ko-regular !important;
}


/*@font-face_start*/
@font-face {
	font-family: engUse;
	src: url(../Shared/fonts/HelveticaNeueLTPro-BdCn.otf);
}

@font-face {
	font-family: ko-black;
	src: url(../Shared/fonts/NotoSansCJKkr-Black.otf);
}

@font-face {
	font-family: ko-bold;
	src: url(../Shared/fonts/NotoSansCJKkr-Bold.otf);
}

@font-face {
	font-family: ko-regular;
	src: url(../Shared/fonts/NotoSansCJKkr-Regular.otf);
}

@font-face {
	font-family: ko;
	src: url(../Shared/fonts/NotoSansCJKkr-Medium.otf);
}

@font-face {
	font-family: onyx;
	src: url(../Shared/fonts/ONYX.TTF);
}

/*@font-face_end*/